{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">
   {% if user.is_authenticated %}

        <h1>Hello Welcome</h1>

    {% else %}

        <h1>Login</h1>
        <form action="{%url 'home'%}" method = "POST">
            {% csrf_token %}
        
                <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username"class="form-control" id="username" aria-describedby="username_tip" required>
                <div id="username_tip" class="form-text">Please enter your username</div>
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Login</button>
        
        </form>
</div>
{% endif %}

{% endblock %}