{% extends 'frontend/base.html' %}

{% block content %}
<br />
<div class="col-md-10 offset-md-1"> 
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
    Record <br>
    {{ customer_record}} <br>
        {{ customer_record.last_name}}
{% endif %}
<br>
<a href={% url 'home' %} class="btn  btn-primary">Back </a>
<a href={% url 'update_record' customer_record.id %} class="btn btn-secondary" id="deleteRec">Update</a>
<a href={% url 'delete' customer_record.id %} class="btn btn-danger" id="deleteRec">Delete</a>
{% endblock %}

